html {
    display: block;
    height: 100%;
    color: rgb(253, 221, 40);
}

body {
    display: inline;
    flex: 1;
    background-color: rgb(34, 34, 104);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#startscreen {
    text-align: center;
}


