html {
    display: block;
    height: 100%;
    color: greenyellow;
}

body {
    display: inline;
    flex: 1;
    background-color: rgb(34, 34, 104);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}



